.GroupBox{
    display: flex;
    width: 30%;
    height: 100vh;
    box-sizing: border-box;
    padding: 4vh 0 4vh 0vh;
    
}


.Pocket-Notes-Heading{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: start;
    margin-left: 2vh;
    font-size: 4vh;

}


.grp-wrapper{
    width: 100%;
    height: 90%;
    
  
}

.create-notes-group-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 7vh;
    margin-top: 5vh;
    margin-bottom: 4vh;
    width: 70%;
    border-radius: 20px;
    font-size: 3vh;
}
.create-notes-group-btn > span{
    font-size: 4vh;
    margin-left: 5px;
    margin-right: 5px;
}


.group-list{
   overflow:auto;
    height: 100%;
   width: 100%;
  
  

}

.group-item{
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 88%;
   margin-left: 12%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    height: 14vh;
    box-sizing: border-box;
    padding: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.bg-brown{
    background-color: #F7ECDC;
}
.group-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: aqua;
    height: 8vh;
    aspect-ratio: 1/1;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: white;  
    font-size: 3vh;
}

.group-name{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color:black;
    margin-left: 2vh;
    font-size: 2.5vh;

}





.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2F2F2FBF;
    z-index: 1;
}


/* media queries */

@media only screen and (max-width: 600px) {
    .GroupBox{
        width: 100%;  
        
    }
    .grp-wrapper{
        height: 100%;

       
    }

    .create-notes-group-btn{
      width: 85%;
    }

    .bg-brown{
        background-color: white;
    }
    
  }